{% extends "bootstrap/base.html" %}

{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/admin_styles.css')}}">
{% endblock %}

{% block content %}
 {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
<form action="{{url_for('admin_login')}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="ark-login" >
        <div class="ark-login-ban">Login</div>
                <ul>
                    <li>
                        <span>User:</span><input type="text" class="ark-input" name="user" required="required" placeholder="用户名">
                    </li>
                    <li>
                       <span>Password:</span><input type="password" class="ark-input" name="password" required="required" placeholder="密码">
                    </li>
                    <li><div><input type="submit" value="登 录" class="btn btn-sm btn-primary" ></div></li>
                </ul>

    </div>
</form>
{% endblock %}