{% extends "admin_base.html" %}
{% block title %}明日方舟公开招募计算器后台{% endblock %}
{% block features %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <form action="{{url_for('admin_userRepassword')}}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="ark-user">
        <ul>
            <li>
                <span>原密码:</span>
                <input type="password" name="oldpassword" class="ark-input" required="required" title="以字母开头，长度在6~18之间，只能包含字母、数字和下划线" pattern="^[a-zA-Z]\w{5,17}$" placeholder="输入原来的密码" >
            </li>
            <li>
                <span>新密码:</span>
                <input type="password" name="newpassword" class="ark-input" required="required" title="以字母开头，长度在6~18之间，只能包含字母、数字和下划线" pattern="^[a-zA-Z]\w{5,17}$" placeholder="输入新密码" >
            </li>
            <li>
                <span>密码确认:</span>
                <input type="password" name="repassword" class="ark-input" required="required" title="以字母开头，长度在6~18之间，只能包含字母、数字和下划线" pattern="^[a-zA-Z]\w{5,17}$" placeholder="再输一次密码" >
            </li>
            <li>
                <span></span><input type="submit" class="btn btn-primary" value="添 加">
            </li>
        </ul>
        </div>
    </form>
    </div>
</div>



{% endblock %}