body{
    background: url("/static/img/bk1.jpg") no-repeat fixed;/*固定背景图片、不重复*/
}
.ark_sel button{
    margin-bottom: 2px;
}
.ark-typetd{
    background: #aab2b4;
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: auto;
}
.ark-show_bg{
    background: #ffffff;
}
.ark-showlist th{
    background: #aab2b4;
    text-align: center;
    width: auto;
    height: 40px;
}




